<section role="main" class="content-body">
  <header class="page-header">
    <h2>Your Appointments</h2>

    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <a href="/home">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li><span>Your Appointments </span></li>
      </ol>
    </div>
  </header>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <section class="panel">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table mb-lg">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Booked By</th>
                  <th>Message</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of appointments">
                  <td>{{a.date}}</td>
                  <td>{{a.time}}</td>
                  <td>{{a.bookedBy}}</td>
                  <td>{{a.message}}</td>
                  <td>
                    <span *ngIf="a.accepted == false && a.cancelled == false" class="text-warning">Pending</span>

                    <span *ngIf="a.accepted == true && a.cancelled == false" class="text-success">Accepted</span>

                    <span *ngIf="a.accepted == false && a.cancelled == true" class="text-danger">Cancelled</span>
                    
                  </td>
                  <td>
                    <button class="btn btn-success" *ngIf="a.accepted == false && a.cancelled == false" (click)="accept(a)"> Accept Appointment</button>

                    <button class="btn btn-danger" *ngIf="a.accepted == false && a.cancelled == false" (click)="cancel(a)"> Cancel Appointment</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>


    </div>
  </div>

</section>